.one {
  background-color: #111;
  width: 100%;
  padding-top: 8%;
  padding-bottom: 8%;
  height: 100%;
}

.main_image {
  height: 100%;
  width: 88%;
  border-radius: 50%;
}
.main_text {
  color: #ffffff;
}
.main_text h1 {
  font-size: 55px;
  text-transform: uppercase;
  font-weight: 700;
}
.main_text h1 span {
  color: #00bfff;
}
.main_text p {
  padding-right: 50px;
}
.main_text button {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  padding: 11px 45px;
  background-color: transparent;
  border: 1px solid #00bfff;
  transition: all 0.2s linear;
}
.main_text button:hover {
  color: #111;
  background-color: #00bfff;
}
