.one {
  background-color: #111;
  width: 100%;
  height: 100%;
}
.row {
  padding-top: 4%;
  padding-bottom: 6%;
}
.main_image {
  height: 100%;
  width: 92%;
  border-radius: 50%;
}
.main_text {
  color: #ffffff;
}
.main_text h1 {
  font-size: 46px;
  text-transform: uppercase;
  font-weight: 900;
}
.main_text h1 span {
  color: #00bfff;
}
.main_text p {
  padding-right: 50px;
}
.main_text button {
  border-radius: 35px;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 11px 25px;
  background-color: transparent;
  border: 1px solid #00bfff;
  transition: all 0.2s linear;
}
.main_text button a {
  color: #ffffff;
  text-decoration: none;
}
.main_text button:hover {
  color: #111;
  background-color: #00bfff;
}
