* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.theme_color {
  color: #ffb400;
}
.dark_bg {
  background-color: #111;
}
.large-title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 55px;
}
.button {
  overflow: hidden;
  line-height: 1.4;
  border: 1px solid #ffb400;
  border-radius: 35px;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  padding: 16px 70px 16px 35px;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  background-color: transparent;
}
.button:hover {
  color: #111;
  background-color: #ffb400;
  transition: all 0.2s linear;
}
